Xcursor.theme: Qogir-dark
Xcursor.size: 16

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! setting the font
URxvt.font: xft:Hurmit Nerd Font Light:size=10

! reduce spacing
URxvt.letterSpace: -1

! enbling copy paste
URxvt.perl-ext-common: selection-to-clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.M-v: perl:clipboard:paste

! urxvt appearance
urxvt*foreground: white
urxvt*background: black

URxvt.scrollBar: false

urxvt*transparent: true
urxvt*shading: 15

! special
*.foreground:   #f8f8f2
*.background:   #272822
*.cursorColor:  #f8f8f2

! black
*.color0:       #272822
*.color8:       #75715e

! red
*.color1:       #f92672
*.color9:       #f92672

! green
*.color2:       #a6e22e
*.color10:      #a6e22e

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #66d9ef
*.color12:      #66d9ef

! magenta
*.color5:       #ae81ff
*.color13:      #ae81ff

! cyan
*.color6:       #a1efe4
*.color14:      #a1efe4

! white
*.color7:       #f8f8f2
*.color15:      #f9f8f5
